html {
    scroll-behavior: smooth;
  }

  body{
    overflow-x: hidden;
}

  @import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

  .imprima-regular {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #projecttitle{
    margin-left: 50px;
  }


  #ads{
    border-radius: 0px 0px 150px 0px;
  }
  

#hero{
   /* background-color: rgba(15, 15, 15, 0.13); /*CSS FOR LANDING PAGE*/
    border-radius: 0px 0px 150px 0px;
    margin-top: -120px;
    padding: 10px;
    /*height: 100vh;*/
}
#icon{
           
        /* Adjust the angle as needed */
         
          transform: rotate(90deg);
      }






h1{
    font-family: "Imprima", sans-serif;
}

h2{
    font-family: "Imprima", sans-serif;
}



h4{
    font-family: "Imprima", sans-serif;
}

h5{
    font-family: "Imprima", sans-serif;
}

p{
    font-family: "Imprima", sans-serif;
    font-weight: 500;
    font-style: normal;
}

ul{
    font-family: "Imprima", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#details{
    font-family: "Imprima", sans-serif;
    font-weight: 500;
    font-style: normal;
   /* margin-top: 10px;*/
}



#content{
margin-top: 50px;
}

#title{
    font-size: 80px;
    font-family: "Imprima", sans-serif;
}

#btn{ 
    background-color: #FE7A00; /*CSS FOR LANDING PAGE BUTTON*/
}

#navbtn{ 
    background-color: #FE7A00; /*CSS FOR NAVBAR BUTTON*/
}

#navimg{
    size: 3px; 					/*CSS FOR NAVBAR LOGO STYLING*/
    max-width: 10%;
      height: 8%;
}

/*#navbar{
    background-color: rgba(15, 15, 15, 0.13);
}*/


#rectangle{                 /*CSS FOR RECTANGLE AFTER OUR EXPERTIES SECTION*/
    /* position: absolute;*/
    width: 80%;
    height: 36px;
    left: 192px;
    top: 2236px;
    background: #FE7A00;
    margin-bottom: -20px;
}

#rectangle01{                 /*CSS FOR RECTANGLE AFTER OUR EXPERTIES SECTION*/
    /* position: absolute;*/
    width: 100%;
    height: 3px;
    left: 192px;
    top: 2236px;
    background: #FE7A00;
    margin-top: 20px;
}


#expertsection{
    margin-bottom: 50px;
}

.change-my-color{
    fill: #FE7A00;
}

#services{
    padding: 20px;
}

#footerimg{
    size: 20px; 					/*CSS FOR FOOTER SECTION LOGO STYLING*/
    max-width: 40%;
      height: 20%;
}

#footer01{
    background-color: #DDE9DE; /*CSS FOR LANDING PAGE*/
   /* border-radius: 0px 0px 150px 0px;
    margin-top: -20px;*/
}

#additionalp{
margin-top: -90px;
}



/*CONTACT PAGE CSS*/

#contactbtn{
    background-color: #FE7A00;
}


#list{
    margin-top: -2.5%;
}

#expertsection{
    margin-top: 30px;
}


.underlined {
    position: relative;
    margin-right: 1rem;
  
  }
  .underlined:after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    height: 20px;
    width: 100%;
    border: solid 5px #FE7A00;
    border-color: #FE7A00 transparent transparent transparent;
    border-radius: 150%;
    rotate: -9deg;
  }

  #projectalign{
    margin-right: -40%;
  }



